link(href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet")
script(src="./jquer.js")
script(src="http://cdn.bootcss.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js")
script(src="./main.js")