extends ../layout

block content
	.container
		.input-group
			input.form-control#labelVal(type="text")
			.input-group-btn
				button.btn#addlabel 添加
		ul
			each item in labels
				li.col-md-12 #{item.name}
					button.btn.removeLabels(data-id="#{item._id}") 删除

		