extends ../layout

block content
    .container
        .row
            each item in articles
                .col-md-2
                    a(href='/detail/#{item.id}')
                        .caption
                            h3 #{item.title}
                            h4 #{item.author}
                            h5 #{item.meta.createAt}